################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Figuras Geometricas/.vs/Figuras Geometricas/v16/Server/sqlite3/db.lock
